@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

.source-code-link {
  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
}

.source-code-link-img {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(-45deg) scale(0.7);
}

.source-code-link-svg {
  fill: #fff;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.navigation-btn {
  cursor: pointer;
  pointer-events: all;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  border: none;
  background: #fff;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.25rem 1rem -0.25rem rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.navigation-btn:active {
  opacity: 0.75;
}

.navigation {
  pointer-events: all;
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  transform: translate(100%);
  transition: transform 0.5s ease;
  overflow: auto;
  z-index: 2;
}

.navigation.show {
  transform: translate(0);
}

.navigation-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 7rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navigation-form {
  width: 100%;
  padding: 0 0.75rem;
}

.navigation-form-control {
  display: flex;
  border-bottom: 0.15rem solid #ccc;
  padding: 0.75rem;
  gap: 1rem;
  align-items: center;
}

.navigation-form-icon {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
}

.navigation-form-input {
  pointer-events: all;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.2rem;
}

.navigation-form-clear-btn {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.navigation-form-clear-btn-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation-form-clear-btn:hover {
  transform: scale(1.1);
}

.navigation-project-list {
  width: 100%;
  height: auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 2rem;
}

.navigation-item {
  width: 100%;
  height: 100%;
  padding: 0.75rem;
}

.navigation-item.selected {
  border: 0.15rem solid #ccc;
  border-radius: 0.75rem;
}

.navigation-item-not-found {
  grid-column: 1 / span 3;
  text-align: center;
  color: #333;
}

.navigation-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  pointer-events: all;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.navigation-link-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.navigation-link-title {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
  border-left: 0.15rem solid #999;
  padding-left: 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 1080px) {
  .navigation-project-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .navigation-btn {
    top: 1.2rem;
    right: 1rem;
    width: 45px;
    height: 45px;
  }

  .navigation-container {
    padding: 7rem 1rem;
  }

  .source-code-link {
    width: 85px;
    height: 85px;
  }

  .source-code-link-img {
    top: -11px;
    left: -11px;
  }
}

@media (max-width: 640px) {
  .navigation-project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
